body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: auto;
}

/* NAVIGATION BAR */

nav img {
    width: 250px;
    padding: 20px;
}

.checkout-nav img {
    width: 20px;
    padding: 10px 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.topnav{
    display: flex;
    justify-content: space space-between;
    flex-direction: row;
}

ol, ul {
	list-style: none;
    margin: 0px;
    padding: 0px;
}

.topnav > ul {
    display: flex;
    flex-direction: row; 
  }

nav li{
    padding: 10px 1em;
    width: 7em;
    background-color: #0D6EFF;
    color: white;
    transform: translateX(-1em);
  }

nav li a {
    text-decoration: none;
    color: white;
}

/* DROPDOWN MENU */

nav ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top:100%;
    transition: 0.3s;
  }

nav li:hover ul{
    transform: scale(1,1);
    transition: 0.3s;
}

.checkout-nav img {
    height: 20px;
} 
  
/* MAIN HOME PAGE NAVIGATION */

body > img {
    width: 100%;
}

.genre-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.genre-card img {
    width: 250px;
    height: 125px;
    border-radius: 5px;
}

.consol-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.consol-card img {
    width: 250px;
    height: 125px;
    border-radius: 5px;
}

body > h2{
    padding: 0px 20px;
}

/* PRODUCTS */

.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px 0px;
}

.products > .product-card {
    width: 400px;
    padding: 20px;
}

.products > .product-card > img {
    width: 100%;
    border: black solid;
    background-color: white;
}

.product-card {
    border: 1px black solid;
    background-color: lightgray;
    border-radius: 8px;
    text-decoration: none;
}

.product-info h2 {
    font-size: 18px;
    text-decoration: none;

}

.product-info h3 {
    font-size: 15px;
}

.product-info h4 {
    font-size: 15px;
}

.product-info h5 {
    font-size: 18px;
}

/* ITEM */

.item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.item-image {
    flex: 1;
    min-width: 200px;
    padding: 40px;
    text-align: centre;
    border: 1px black solid;
}

.item-image img {
    max-width: 100%;
    height: auto;
}

.item-info {
    flex: 2;
    padding: 20px;
    border: 1px black solid;
}

.item-info h2 {
    margin-top: 0;
    
}

.price {
    font-size: 1.5em;
    margin: 10px 0;
}

.item-further {
    margin-top: 20px;
    clear: both;
    padding: 20px;
    
}

/* CHECKOUT FORM BUTTONS */

.checkout-nav {
    display: flex;
    justify-content: left;
    padding: 50px 0px;
}


/* CHECKOUT TABLE */

.shopping-cart img {
    max-width: 50px;
    height: auto;
    display: block;
    margin-right: 10px;
  }


.shopping-cart {
    background-color: #f9f9f9;
    padding: 20px 20px;
    border-radius: 5px;
  }

.shopping-cart table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 20px;
  }

.shopping-cart th,
.shopping-cart td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

.shopping-cart th {
    background-color: #f0f0f0;
  }

.shopping-cart-checkout {
    background-color: #f9f9f9;
    padding: 20px 20px;
    border-radius: 5px;
  }

.shopping-cart-checkout table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 20px;
  }

.shopping-cart-checkout th,
.shopping-cart-checkout td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

.shopping-cart-checkout th {
    background-color: #f0f0f0;
  }

.proceed-to-checkout {
    padding: 40px;
}

/* FORM */

body, form, input, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Contact, .Shipping, .Payment {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

h3 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: #ccc;
    box-sizing: border-box;
}

.buttons {
    align-items: left;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .Contact, .Shipping, .Payment {
        width: 90%;
        max-width: none;
    }
}

.checkout-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.information {
    flex: 1;

}


/*BUTTONS */

.buttons{
  display: flex;
  justify-content: right;
  grid-column: 1/3;
}

.btn {
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #0D6EFF;
    color: white;
}

.btn-primary:hover {
    background-color: #0E64E4;
}

.btn-primary--hover {
body, form, input, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
}

.btn-primary:active {
    background-color: #0151C8;
}

.btn-primary--active {
    background-color: #0151C8;
}

.btn-primary:focus {
    background-color: #1070FF;
    border: 2px solid #7CAFFC;
    box-shadow: 0px 0px 5px #adceff;
}

.btn-primary--focus {
    background-color: #1070FF;
    border: 2px solid #7CAFFC;
    box-shadow: 0px 0px 5px #adceff;
}

.btn-secondary {
    background-color: #F3F8FF;
    color: #67A3FF;
}

.btn-secondary:hover {
    background-color: #E8F1FF;
}

.btn-secondary--hover {
    background-color: #E8F1FF;
}

.btn-secondary:active {
    background-color: #DBEAFF;
}

.btn-secondary--active {
    background-color: #DBEAFF;
}

.btn-secondary:focus {
    background-color: #F3F8FF;
    border: 2px solid #92BEFF;
    box-shadow: 0px 0px 5px rgb(189, 213, 249);
}

.btn-secondary--focus {
    background-color: #F3F8FF;
    border: 2px solid #92BEFF;
    box-shadow: 0px 0px 5px rgb(189, 213, 249);
}


/* FOOTER */

.footer {
    background-color: #0D6EFF;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 10px;
}

.footer-section {
    flex: 1;
    margin: 10px 0;
}

.footer-section h2 {
    text-decoration: underline;
}
