nav {
    background-color: navy;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
}
nav h1 {
    width: 100px;

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 60px;
}
nav ul li{
    display: inline;
}

nav ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}