nav {
    background-color: lemonchiffon;
    height: 100px;
}

nav > img {
    width: 50px;
}

nav > ul {
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
nav ul li{
    display: inline;
}
